<?xml version='1.0' encoding='UTF-8' ?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Distribution License v. 1.0, which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: BSD-3-Clause

-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>Facelets Hello Greeting</title>
</h:head>
<h:body>
<h:outputStylesheet name="css/stylesheet.css" target="head"/>
	<h:form>
		<h:graphicImage url="#{resource['images:info.jpg']}"
			alt="Duke waving his hand" />
<!--Pantalla de menu de inicio (Donde esta lo que mostramos al inicio con botones) -->
<!-- no podemos incluir funcionalidades asociadas a algun bean -->
		<h2>Registro de inventario</h2>
		<h2>#{messageBean.mensaje}!</h2>

		<h:commandButton id="registroEquipo" value="registrar equipo"
			action="registroEquipo" />
			
				<h:commandButton id="listadoTipos" value="Lista de Equipos"
			action="listadoTipos" />
			
<!-- 				<h:commandButton id="registroCobro" value="registrar cobro" -->
<!-- 			action="registroCobro" /> -->
			
		<h:commandButton id="registroCliente" value="registrar cliente"
			action="registroCliente" />
			
		<h:commandButton id="registroOrdenes" value="registrar Orden"
			action="orden" />
<!-- 			value es el valor del boton mostrado en la pantalla -->
<!-- <h:commandButton id="listadoEquipos" value="ver Equipos" -->
<!-- 			action="listadoEquipos" /> -->
			
		<h:commandButton id="listadoOrdenes" value="Lista de Ordenes"
			action="listadoOrdenes" />
	</h:form>

	<div class="messagecolor">
		<h:messages showSummary="true" showDetail="false"
			errorStyle="color: pink" infoStyle="color: blue" />
	</div>
</h:body>
</html>

