<?xml version='1.0' encoding='UTF-8' ?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Distribution License v. 1.0, which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: BSD-3-Clause

-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Facelets Hello Greeting</title>
</h:head>
<h:body>
<h:outputStylesheet name="css/stylesheet.css" target="head"/>
	<h:form>
		<h:graphicImage url="#{resource['images:info.jpg']}"
			alt="Duke waving his hand" />
		<h2>Ordenes de compra</h2>


		<h:dataTable value="#{listaOrdenesBean.ordenes}" var="orden">

			<h:column>
				<h:inputText value="#{orden.orden}" />
			</h:column>
			
			<h:column>
				<h:inputText value="#{orden.cliente}" />
			</h:column>

			<h:column>
				<h:inputText value="#{orden.cantidad}" />
			</h:column>
			
			<h:column>
				<h:inputText value="#{orden.fecha}" />
			</h:column>
			
			<h:column>
				<h:inputText value="#{orden.montoTotal}" />
			</h:column>
			
			<h:column>
				<h:inputText value="#{orden.metodoPago}" />
			</h:column>
			
			<h:column>
				<h:inputText value="#{orden.devolucion}" />
			</h:column>

		</h:dataTable>


	</h:form>
	<div class="messagecolor">
		<h:messages showSummary="true" showDetail="false"
			errorStyle="color: pink" infoStyle="color: blue" />
	</div>
</h:body>
</html>

