<?xml version='1.0' encoding='UTF-8' ?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Distribution License v. 1.0, which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: BSD-3-Clause

-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	 xmlns:jsf="http://xmlns.jcp.org/jsf"
	  xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<title>Pagina de inventario</title>
</h:head>
<h:body>

<h:outputStylesheet name="css/stylesheet.css" target="head"/>
	<h:form>
			<h:graphicImage url="#{resource['images:info.jpg']}"
			alt="Duke waving his hand" />
		<h1>Registro de orden</h1>
		
		<h2>Orden Id</h2>
		<h:inputText id="puesto" title="El puesto es:" required="true"
			value="#{ordenBean.orden}" maxlength="200"
			requiredMessage="El campo Habilidades es requerido." />
		<p></p>
		
		<h2>cliente</h2>
		<h:inputTextarea id="habilidades" title="Las habilidades son:"
			required="true" value="#{ordenBean.cliente}" maxlength="200"
			requiredMessage="El campo es requerido." />		
		<p></p>
		
		<h2>cantidad de articulos</h2>
		<h:inputTextarea id="funciones" title="las funciones son:"
			required="true" value="#{ordenBean.cantidad}" maxlength="200"
			requiredMessage="El campo funciones es requerido." />
		<p></p>
		
<!-- 		<h2>Fecha</h2> -->
<!-- 		<h:inputTextarea id="experiencia" title="Mis experiencia es:" -->
<!-- 			required="true" value="#{ordenBean.fecha}" maxlength="200" -->
<!-- 			requiredMessage="El campo experiencia es requerido." /> -->
<!-- 		<p></p> -->
		


<h2>Fecha</h2>
   <p>
                <label>Seleccionar fecha:</label>
                <br/>
                <input type="date" jsf:id="date" name="date" 
                       value="#{ordenBean.fecha}" required="required"
                       title="Enter or choose a date."/>
            </p>
	
		
		<h2>Monto total</h2>
		<h:inputTextarea id="idiomas" title="Mis idiomas son:"
			required="true" value="#{ordenBean.montoTotal}" maxlength="200"
			requiredMessage="El campo idiomas es requerido." />
		<p></p>
		
		
		
			<h2>Metodo Pago</h2>
		<h:selectOneMenu id="departamento" title="Los departamentos son:"
			value="#{ordenBean.metodoPago}">

			<f:selectItem itemLabel="tdc" itemValue="1" />
			<f:selectItem itemLabel="tdb" itemValue="2" />
			<f:selectItem itemLabel="efectivo" itemValue="3" />

		</h:selectOneMenu>
		<p></p>
		
	
		
			<h2>Devolucion</h2>
		<h:selectOneMenu id="dep" title="Los departamentos son:"
			value="#{ordenBean.devolucion}">

			<f:selectItem itemLabel="Na" itemValue="1" />
			<f:selectItem itemLabel="Devolucion" itemValue="2" />
			

		</h:selectOneMenu>
		<p></p>

		
		<h:commandButton id="submit" value="Enviar"
			action="#{ordenBean.registrar()}" />
		<h:commandButton id="reset" value="Limpiar" type="reset" />
	</h:form>
	
	<div class="messagecolor">
		<h:messages showSummary="true" showDetail="false"
			errorStyle="color: pink" infoStyle="color: blue" />
	</div>
	
	
	
	
</h:body>
</html>

