<?xml version='1.0' encoding='UTF-8' ?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Distribution License v. 1.0, which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: BSD-3-Clause

-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>Facelets Hello Greeting</title>
</h:head>
<h:body>
<h:outputStylesheet name="css/stylesheet.css" target="head"/>
	<h:form>
		<h:graphicImage url="#{resource['images:info.jpg']}"
			alt="Duke waving his hand" />
		<h2>Fabricante</h2>
		<h:inputText id="fabricante" title="Fabricante: "
			value="#{tipoBean.fabricante}" required="true"
			requiredMessage="Error: Introduce fabricante." maxlength="25" />		

		<h2>Tipo de Equipo</h2>
		<h:inputText id="tipoEquipo" title="tipoEquipo"
			value="#{tipoBean.tipoEquipo}" required="true"
			requiredMessage="Error: Introduce equipo." maxlength="50" />
			
		<h2>Identificador de Equipo</h2>
		<h:inputText id="clave" title="Identificador de producto: "
			value="#{tipoBean.clave}" required="true"
			requiredMessage="Error: Introduce identificador de producto." maxlength="25" />


		<h2>Existencias</h2>
		<h:inputText id="existencias" title="existencias"
			value="#{tipoBean.existencias}" required="true"
			requiredMessage="Error: Introduce existencias." maxlength="50" />


		<p></p>
		<h:commandButton id="submit" value="Enviar" action="#{tipoBean.registrar()}" />
		<h:commandButton id="reset" value="Limpiar" type="reset" />
	</h:form>
	<div class="messagecolor">
		<h:messages showSummary="true" showDetail="false"
			errorStyle="color: pink" infoStyle="color: blue" />
	</div>
</h:body>
</html>

