<?xml version='1.0' encoding='UTF-8' ?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Distribution License v. 1.0, which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: BSD-3-Clause

-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	 xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head>
	<title>Facelets Hello Greeting</title>
</h:head>
<h:body>
<h:outputStylesheet name="css/stylesheet.css" target="head"/>
	<h:form>
		<h:graphicImage url="#{resource['images:info.jpg']}"
			alt="Duke waving his hand" />
		
	
			
<!-- 				<h2>Fecha</h2> -->
<!-- 		<h:inputText id="fecha" title="Cantidad de articulos: " -->
<!-- 			value="#{cobroBean.cuenta}" required="true" -->
<!-- 			requiredMessage="Error: Introduce cantidad de articulos." maxlength="25" /> -->

<h2>Fecha</h2>
   <p>
               
               
                <input type="date" jsf:id="date" name="date" 
                       value="#{cobroBean.fecha}" required="required"
                       title="Enter or choose a date."/>
            </p>

		<p></p>
		
		<h2>Cobro</h2>
		<h:inputText id="cuenta" title="Cantidad de articulos: "
			value="#{cobroBean.cuenta}" required="true"
			requiredMessage="Error: Introduce cantidad de articulos." maxlength="25" />
			<p></p>
			
		<h:commandButton id="submit" value="Enviar" action="#{cobroBean.registrar()}" />
		<h:commandButton id="reset" value="Limpiar" type="reset" />
	</h:form>
	<div class="messagecolor">
		<h:messages showSummary="true" showDetail="false"
			errorStyle="color: pink" infoStyle="color: blue" />
	</div>
</h:body>
</html>

