<?xml version='1.0' encoding='UTF-8' ?>
<!--

    Copyright (c) 2018, 2021 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Distribution License v. 1.0, which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: BSD-3-Clause

-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
    <!--Respuesta al registrar candidato -->
        <title>Facelets Hello Response</title>
    </h:head>
    <h:body>
    	<h2>Hola #{clienteBean.mensajeRespuesta}</h2>
    	
        <h:form>
            <h:graphicImage url="#{resource['images:info.jpg']}" 
                            alt="Duke waving his hand"/>
          
            <p></p>
            <h:commandButton id="back" value="Back" action="index" />
        </h:form>
    </h:body>
</html>
